<div>
    <div class="certificate-description">
        <h1>Contact me </h1>
    </div>
    <div class="row">        
        <div class="mt-3 col-md-12">
            <div class="row">
                <div class="col-md-4">
                    <div class="contacts-form">
                        <form [formGroup]="contactMeForm" (ngSubmit)="onContactMeSubmit()">
                            <div class="input-container d-flex flex-column">
                                <label class="label-class">Full Name</label>
                                <input type="text" formControlName="name" class="form-input input-class"
                                    placeholder="Enter your name" />
                            </div>
                            <div class="input-container d-flex flex-column">
                                <label class="label-class">Email
                                    address</label>
                                <input type="email" formControlName="email" class="form-input input-class"
                                    placeholder="Enter email" />
                            </div>
                            <div class="input-container d-flex flex-column">
                                <label class="label-class">Message</label>
                                <textarea class="form-message input-class" formControlName="message"
                                    placeholder="Enter message"></textarea>
                            </div>
                            <div>
                                <button type="submit" class="submit-btn">
                                    Submit
                                    <fa-icon [icon]="fortawesome_regular.faPaperPlane"></fa-icon>
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="col-md-7">
                    <div class="contacts-details">
                        <a href="mailto:bala.saikat25@gmail.com" class="personal-details">
                            <div class="detailsIcon">
                                <fa-icon [icon]="fortawesome_solid.faEnvelopeCircleCheck"></fa-icon>
                            </div>
                            <p>bala.saikat25&#64;gmail.com</p>
                        </a>
                        <a href="tel:+918509120439" class="personal-details">
                            <div class="detailsIcon">
                                <fa-icon [icon]="fortawesome_solid.faPhoneVolume"></fa-icon>
                            </div>
                            <p>+91 8509120439</p>
                        </a>
                        <a href="https://maps.app.goo.gl/iUHJvPAhJXwJayo68" class="personal-details">
                            <div class="personal-details">
                                <div class="detailsIcon">
                                    <fa-icon [icon]="fortawesome_solid.faMapLocationDot"></fa-icon>
                                </div>
                                <p>Barasat, West Bengal, India</p>
                            </div>
                        </a>
                    </div>

                    <div class="contact-map">
                        <iframe
                            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d58882.450586618776!2d88.44121192006732!3d22.722547894172898!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x39f8a209b5283ced%3A0x4989765a0652bd78!2sBarasat%2C%20Kolkata%2C%20West%20Bengal!5e0!3m2!1sen!2sin!4v1732735892409!5m2!1sen!2sin"
                            width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                            referrerpolicy="no-referrer-when-downgrade"></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>