<div class="home-content">
    <div class="row">
        <div class="home-header col-md-8">
            <h1 class="heading">Hi There! <span class="wave" role="img" aria-labelledby="wave">👋🏻</span></h1>
            <h1 class="heading-name">I'M<strong class="main-name"> Saikat Bala</strong></h1>
            <div class="typing-homeclass">
                <div class="Typewriter">
                    <span class="Typewriter__wrapper">{{ typedText$ | async }}</span>
                    <span class="Typewriter__cursor">|</span>
                </div>
            </div>
            <div class="sociallink-home">
                <ul class="homeaboutsociallinks">
                    <li class="socialicons">
                        <a href="https://github.com/sbala25" target="_blank" class="homesocialicons">
                            <span>
                                <fa-icon [icon]="fortawesome_brands.faGithub"></fa-icon>
                            </span>
                            <strong>&nbsp;Github</strong>
                        </a>
                    </li>
                    <li class="socialicons">
                        <a href="https://www.linkedin.com/in/saikat-bala-%E2%9C%A8%E2%9A%A1-9b4006218/" target="_blank"
                            class="homesocialicons">
                            <span>
                                <fa-icon [icon]="fortawesome_brands.faLinkedinIn"></fa-icon>
                            </span>
                            <strong>&nbsp;LinkedIn</strong>
                        </a>
                    </li>
                    <li class="socialicons">
                        <a href="mailto:bala.saikat25@gmail.com" target="_blank" class="homesocialicons">
                            <span>
                                <fa-icon [icon]="fortawesome_solid.faEnvelopeCircleCheck"></fa-icon>
                            </span>
                            <strong>&nbsp;Gmail</strong>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-md-4" style="padding-bottom: 20px;">
            <div class="img-home-main">
                <div style="filter: grayscale(1);">
                    <img src="assets/images/profile.webp" alt="home pic" class="react-reveal img-fluid" />
                </div>
            </div>
        </div>
    </div>
</div>