<div id="home">
    <div id="tsparticles"><canvas data-generated="false"
            style="width: 100% !important; height: 100% !important; position: fixed !important; z-index: 0 !important; top: 0px !important; left: 0px !important; pointer-events: none;"
            width="1909" height="418"></canvas></div>
    <div class="home-content container">
        <div class="row">
            <div class="home-header col-md-8">
                <h1 class="heading" style="padding-bottom: 15px; font-size: 175px;">Hi There! <span class="wave"
                        role="img" aria-labelledby="wave">👋🏻</span></h1>
                <h1 class="heading-name">I'M<strong class="main-name"> Saikat Bala</strong></h1>
                <div class="typing-homeclass">
                    <div class="Typewriter">
                        <span class="Typewriter__wrapper">{{ typedText$ | async }}</span>
                        <span class="Typewriter__cursor">|</span>
                    </div>
                </div>
                <div class="sociallink-home">
                    <ul class="homeaboutsociallinks">
                        <li class="socialicons">
                            <a href="https://github.com/sbala25" target="_blank" rel="noreferrer"
                                class="iconcolour  homesocialicons">
                                <svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 1024 1024"
                                    height="1em" width="1em" xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M511.6 76.3C264.3 76.2 64 276.4 64 523.5 64 718.9 189.3 885 363.8 946c23.5 5.9 19.9-10.8 19.9-22.2v-77.5c-135.7 15.9-141.2-73.9-150.3-88.9C215 726 171.5 718 184.5 703c30.9-15.9 62.4 4 98.9 57.9 26.4 39.1 77.9 32.5 104 26 5.7-23.5 17.9-44.5 34.7-60.8-140.6-25.2-199.2-111-199.2-213 0-49.5 16.3-95 48.3-131.7-20.4-60.5 1.9-112.3 4.9-120 58.1-5.2 118.5 41.6 123.2 45.3 33-8.9 70.7-13.6 112.9-13.6 42.4 0 80.2 4.9 113.5 13.9 11.3-8.6 67.3-48.8 121.3-43.9 2.9 7.7 24.7 58.3 5.5 118 32.4 36.8 48.9 82.7 48.9 132.3 0 102.2-59 188.1-200 212.9a127.5 127.5 0 0 1 38.1 91v112.5c.8 9 0 17.9 15 17.9 177.1-59.7 304.6-227 304.6-424.1 0-247.2-200.4-447.3-447.5-447.3z">
                                    </path>
                                </svg>
                            </a>
                        </li>
                        <li class="socialicons">
                            <a href="https://www.linkedin.com/in/saikat-bala-%E2%9C%A8%E2%9A%A1-9b4006218/"
                                target="_blank" rel="noreferrer" class="iconcolour  homesocialicons">
                                <svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 448 512"
                                    height="1em" width="1em" xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M100.28 448H7.4V148.9h92.88zM53.79 108.1C24.09 108.1 0 83.5 0 53.8a53.79 53.79 0 0 1 107.58 0c0 29.7-24.1 54.3-53.79 54.3zM447.9 448h-92.68V302.4c0-34.7-.7-79.2-48.29-79.2-48.29 0-55.69 37.7-55.69 76.7V448h-92.78V148.9h89.08v40.8h1.3c12.4-23.5 42.69-48.3 87.88-48.3 94 0 111.28 61.9 111.28 142.3V448z">
                                    </path>
                                </svg>
                            </a>
                        </li>
                        <li class="socialicons">
                            <a href="https://www.instagram.com/" target="_blank" rel="noreferrer"
                                class="iconcolour homesocialicons">
                                <svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 1024 1024"
                                    height="1em" width="1em" xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M512 378.7c-73.4 0-133.3 59.9-133.3 133.3S438.6 645.3 512 645.3 645.3 585.4 645.3 512 585.4 378.7 512 378.7zM911.8 512c0-55.2.5-109.9-2.6-165-3.1-64-17.7-120.8-64.5-167.6-46.9-46.9-103.6-61.4-167.6-64.5-55.2-3.1-109.9-2.6-165-2.6-55.2 0-109.9-.5-165 2.6-64 3.1-120.8 17.7-167.6 64.5C132.6 226.3 118.1 283 115 347c-3.1 55.2-2.6 109.9-2.6 165s-.5 109.9 2.6 165c3.1 64 17.7 120.8 64.5 167.6 46.9 46.9 103.6 61.4 167.6 64.5 55.2 3.1 109.9 2.6 165 2.6 55.2 0 109.9.5 165-2.6 64-3.1 120.8-17.7 167.6-64.5 46.9-46.9 61.4-103.6 64.5-167.6 3.2-55.1 2.6-109.8 2.6-165zM512 717.1c-113.5 0-205.1-91.6-205.1-205.1S398.5 306.9 512 306.9 717.1 398.5 717.1 512 625.5 717.1 512 717.1zm213.5-370.7c-26.5 0-47.9-21.4-47.9-47.9s21.4-47.9 47.9-47.9 47.9 21.4 47.9 47.9a47.84 47.84 0 0 1-47.9 47.9z">
                                    </path>
                                </svg>
                            </a>
                        </li>
                        <li class="socialicons">
                            <a href="https://www.facebook.com" target="_blank" rel="noreferrer"
                                class="iconcolour homesocialicons">
                                <svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 320 512"
                                    height="1em" width="1em" xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M279.14 288l14.22-92.66h-88.91v-60.13c0-25.35 12.42-50.06 52.24-50.06h40.42V6.26S260.43 0 225.36 0c-73.22 0-121.08 44.38-121.08 124.72v70.62H22.89V288h81.39v224h100.17V288z">
                                    </path>
                                </svg>
                            </a>
                        </li>
                        <li class="socialicons">
                            <a href="mailto:bala.saikat25@gmail.com" target="_blank" rel="noreferrer"
                                class="iconcolour homesocialicons">
                                <svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 488 512"
                                    height="1em" width="1em" xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M488 261.8C488 403.3 391.1 504 248 504 110.8 504 0 393.2 0 256S110.8 8 248 8c66.8 0 123 24.5 166.3 64.9l-67.5 64.9C258.5 52.6 94.3 116.6 94.3 256c0 86.5 69.1 156.6 153.7 156.6 98.2 0 135-70.4 140.8-106.9H248v-85.3h236.1c2.3 12.7 3.9 24.9 3.9 41.4z">
                                    </path>
                                </svg>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-4" style="padding-bottom: 20px;">
                <div class="img-home-main">
                    <div style="filter: grayscale(1);">
                        <img src="assets/images/profile.jpg" alt="home pic" class="react-reveal img-fluid" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>