<nav class="navbar navbar-expand-md navbar-light fixed-top"  [ngClass]="{'sticky': navColour}">
    <div class="container">
        <a routerLink="" class="navbar-brand" href="javascjavascript:void(0)">
            <div class="d-flex flex-row justify-content-between">
                <img src="assets/images/profile2.webp" class="logo" alt="brand" />
                <h5>Saikat Bala</h5>
            </div>
        </a>
        <button type="button" class="navbar-toggler" (click)="collapseMenu()" [ngClass]="{'collapsed': !isCollapseMenu}">
            <span></span>
            <span></span>
            <span></span>
        </button>
        <div class="navbarmain navbar-collapse collapse" [ngClass]="{'show': isCollapseMenu}">
            <div class="ml-auto navbar-nav">
                <div class="nav-item">
                    <a class="nav-link" routerLink="" href="javascjavascript:void(0)">
                        <fa-icon [icon]="fortawesome_solid.faHouse"></fa-icon>
                        Home
                    </a>
                </div>
                <div class="nav-item">
                    <a class="nav-link" href="javascjavascript:void(0)" routerLink="experience">
                        <fa-icon [icon]="fortawesome_solid.faLaptopCode"></fa-icon>
                        Experience
                    </a>
                </div>
                <div class="nav-item">
                    <a class="nav-link" href="javascjavascript:void(0)" routerLink="resume">
                        <fa-icon [icon]="fortawesome_solid.faPenNib"></fa-icon>
                        Resume
                    </a>
                </div>
                <div class="nav-item">
                    <a class="nav-link" href="javascjavascript:void(0)"  routerLink="contact">
                        <fa-icon [icon]="fortawesome_regular.faFileLines"></fa-icon>
                        Contact
                    </a>
                </div>
                <div class="nav-item">
                    <a class="nav-link" routerLink="/blogs" href="javascjavascript:void(0)">
                        <fa-icon [icon]="fortawesome_solid.faBlog"></fa-icon>
                        Blogs
                    </a>
                </div>
            </div>
        </div>
    </div>
</nav>