<div class="footer container-fluid">
    <div class="row">
        <div class="footer-copywright col-md-4">
            <h3>Designed and Developed by Saikat Bala</h3>
        </div>
        <div class="footer-copywright col-md-4">
            <h3>Copyright &copy; 2024 Saikat Bala
                <br>
                <a href="javascript:void(0)" (click)="signOperation()">{{isAdmin()? "Logout": "Login as Admin"}}</a>
            </h3>
        </div>
        <div class="footer-body col-md-4">
            <ul class="footer-icons">
                <li class="social-icons">
                    <a href="https://github.com/sbala25" target="_blank">
                        <fa-icon [icon]="fortawesome_brands.faGithub"></fa-icon>
                    </a>
                </li>
                <li class="social-icons">
                    <a href="https://www.linkedin.com/in/saikat-bala-%E2%9C%A8%E2%9A%A1-9b4006218/" target="_blank">
                        <fa-icon [icon]="fortawesome_brands.faLinkedinIn"></fa-icon>
                    </a>
                </li>
                <li class="social-icons">
                    <a href="mailto:bala.saikat25@gmail.com" target="_blank">
                        <fa-icon [icon]="fortawesome_solid.faEnvelopeCircleCheck"></fa-icon>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>