<div>
    <div class="certificate-description">
        <h1>Resume</h1>
    </div>
    <div class="d-flex justify-content-center mt-4 pb-4">
        <a href="https://drive.google.com/file/d/1w_oneEAM0FX4IharWOuzB-s--Fc6_YWI/view?usp=sharing"  class="submit-btn" target="_blank">
            <fa-icon [icon]="fortawesome_solid.faDownload"></fa-icon>
            &nbsp; Download Resume
        </a>
    </div>

    <div>
        <img src="https://i.ibb.co/vdws0TN/resume.jpg" alt="resume" class="w-100">
    </div>

    <div class="d-flex justify-content-center py-4">
        <a href="https://drive.google.com/file/d/1w_oneEAM0FX4IharWOuzB-s--Fc6_YWI/view?usp=sharing"  class="submit-btn" target="_blank">
            <fa-icon [icon]="fortawesome_solid.faDownload"></fa-icon>
            &nbsp;Download Resume
        </a>
    </div>
</div>