<div>
    <div class="certificate-description">
        <h1>Resume</h1>
    </div>
    <div class="d-flex justify-content-center mt-4 pb-4">
        <a tabindex="0" href="./assets/pdf/resume.pdf" download="resume.pdf"  class="submit-btn">
            <svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 1024 1024" height="1.5em"
                width="1.5em" xmlns="http://www.w3.org/2000/svg">
                <path
                    d="M505.7 661a8 8 0 0 0 12.6 0l112-141.7c4.1-5.2.4-12.9-6.3-12.9h-74.1V168c0-4.4-3.6-8-8-8h-60c-4.4 0-8 3.6-8 8v338.3H400c-6.7 0-10.4 7.7-6.3 12.9l112 141.8zM878 626h-60c-4.4 0-8 3.6-8 8v154H214V634c0-4.4-3.6-8-8-8h-60c-4.4 0-8 3.6-8 8v198c0 17.7 14.3 32 32 32h684c17.7 0 32-14.3 32-32V634c0-4.4-3.6-8-8-8z">
                </path>
            </svg>
            &nbsp; Download Resume
        </a>
    </div>
    <div class="pdf-container" #pdfContainer>
        <pdf-viewer src="./assets/pdf/resume.pdf" [rotation]="0" [original-size]="false"
            [fit-to-page]="false" [zoom]="1" [zoom-scale]="'page-width'" [stick-to-page]="false" [render-text]="true"
            [external-link-target]="'blank'" [autoresize]="true" [show-borders]="true"  (page-rendered)="pageRendered()"></pdf-viewer>
    </div>

    <div class="d-flex justify-content-center py-4">
        <a tabindex="0" href="./assets/pdf/resume.pdf" download="resume.pdf" class="submit-btn">
            <svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 1024 1024" height="1.5em"
                width="1.5em" xmlns="http://www.w3.org/2000/svg">
                <path
                    d="M505.7 661a8 8 0 0 0 12.6 0l112-141.7c4.1-5.2.4-12.9-6.3-12.9h-74.1V168c0-4.4-3.6-8-8-8h-60c-4.4 0-8 3.6-8 8v338.3H400c-6.7 0-10.4 7.7-6.3 12.9l112 141.8zM878 626h-60c-4.4 0-8 3.6-8 8v154H214V634c0-4.4-3.6-8-8-8h-60c-4.4 0-8 3.6-8 8v198c0 17.7 14.3 32 32 32h684c17.7 0 32-14.3 32-32V634c0-4.4-3.6-8-8-8z">
                </path>
            </svg>
            &nbsp;Download Resume
        </a>
    </div>
</div>