<div>
    <div class="certificate-description">
        <h1>IT Experience</h1>
    </div>
    <div>
        @if (isAdmin) {
        <div class="">
            <button class="btn btn-primary" (click)="addEditExperience()">Add Experience</button>
        </div>
        }
        @if(experienceList().length){

        <ul class="experience">
            @for (experience of experienceList(); track experience) {
            <li>
                @if (isAdmin) {
                <div class="text-end">
                    <button mat-mini-fab (click)="addEditExperience(experience)">
                        <fa-icon [icon]="fortawesome_solid.faPenToSquare"></fa-icon>
                    </button>
                    <button mat-mini-fab class="ms-2"
                        (click)="deleteExperience(experience.experience_id); currentItem=experience">
                        <fa-icon [icon]="fortawesome_solid.faTrashCan"></fa-icon>
                    </button>
                </div>
                }
                <div class="experienceCard">
                    <div class="date">{{experience.start_date | date:"MMM y"}} to
                        @if (experience.end_date) {
                        {{experience.end_date  | date:"MMMM YYYY"}}
                        }
                        @else {
                        Present
                        }
                        {{" - "+ _utils.getAge(experience.start_date, experience.end_date)}}
                    </div>
                    <h3 class="mb-0">{{experience.designation}}</h3>
                    <h6>{{experience.company_name}}, <span>{{experience.office_city}},
                            {{experience.office_country}}</span></h6>
                    <div>
                        @if (experience.skills) {
                        <div class="techDetails">
                            <div class="lhs">Skills :</div>
                            <div class="value">{{experience.skills}}</div>
                        </div>
                        }
                        @if (experience.tools) {
                        <div class="techDetails">
                            <div class="lhs">Tools :</div>
                            <div class="value">{{experience.tools}}</div>
                        </div>
                        }

                    </div>
                    @if(experience.work_description){
                    <p>{{experience.work_description}}</p>
                    }
                </div>
                <div class="companyIcon">
                    @if (experience.company_logo) {
                    <img src='{{experience.company_logo}}' alt="company-logo">
                    }
                </div>
            </li>
            }
        </ul>
        }
        @else {
        <div class="alert alert-warning" role="alert">
            There is no experience!
        </div>
        }
    </div>
</div>