<div>
    <div class="certificate-description">
        <h1>IT Experience</h1>
    </div>
    <div>
        <ul class="experience">
            <li>
                <div class="experienceCard">
                    <div class="date">September 2022 to Present</div>
                    <h3 class="mb-0">Senior Software Engineer</h3>
                    <h6>Wipro Limited, <span>Kolkata, India</span></h6>
                    <div >
                        <div class="techDetails">
                            <div class="lhs">Skills :</div>
                            <div class="value">Angular17, JavaScript (ES6), HTML5, CSS3, Bootstrap5, Angular17, JavaScript (ES6), HTML5, CSS3, Bootstrap5, Angular17, JavaScript (ES6), HTML5, CSS3, Bootstrap5 ,Angular17, JavaScript (ES6), HTML5, CSS3, Bootstrap5, Angular17, JavaScript (ES6), HTML5, CSS3, Bootstrap5, Angular17, JavaScript (ES6), HTML5, CSS3, Bootstrap5</div>
                        </div>
                        <div  class="techDetails" >
                            <div class="lhs">Tools :</div>
                            <div class="value">Jira, Git, Bitbucket, VS code</div>
                        </div>
                        
                    </div>
                </div>
                <div class="companyIcon">
                    <img src="assets/images/wipro-logo.webp" alt="wipro-logo">
                </div>
            </li>
            <li>
                <div class="experienceCard">
                    <div class="date">September 2022 to Present</div>
                    <h3 class="mb-0">Senior Software Engineer</h3>
                    <h6>Wipro Limited, <span>Kolkata, India</span></h6>
                    <div >
                        <div class="techDetails">
                            <div class="lhs">Skills :</div>
                            <div class="value">Angular17, JavaScript (ES6), HTML5, CSS3, Bootstrap5</div>
                        </div>
                        <div  class="techDetails" >
                            <div class="lhs">Tools :</div>
                            <div class="value">Jira, Git, Bitbucket, VS code</div>
                        </div>
                        
                    </div>
                </div>
                <div class="companyIcon">
                    <img src="assets/images/wipro-logo.webp" alt="wipro-logo">
                </div>
            </li>
            <li>
                <div class="experienceCard">
                    <div class="date">July 2022 to September 2022</div>
                    <h3 class="mb-0">Senior Software Engineer</h3>
                    <h6>Zensar Technologies</h6>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis tempora ratione sint. Voluptatum earum est recusandae suscipit nam. Nam tempora distinctio corrupti inventore porro, adipisci reiciendis aut atque repudiandae debitis.</p>
                </div>
                <div class="companyIcon">
                    <img src="assets/images/zenser-logo.webp" alt="zenser-logo">
                </div>
            </li>
        </ul>
    </div>
</div>